
@{
    ViewBag.Title = "CargarBono";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file" />
    <br />
    <button type="submit" class="btn btn-primary">Subir Archivo</button>
</form>

